@CHARSET "UTF-8";
.article-texts{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:14px;
	line-height:180%;
	letter-spacing: 0.02em;
	color:#2b2b2b;
	margin:0 40px 0 40px;
	padding:10px 0 10px 0;
}
.photo-ref{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	letter-spacing: 0.03em;
	color:#2b2b2b;
	padding-left:20px;
}
.reference-texts{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	line-height:180%;
	letter-spacing: 0.02em;
	color:#2b2b2b;
	padding:15px 10px 15px 0;
	margin:40px 40px 20px 40px;
	border-top:1px solid #b2b2b2;
	border-bottom:1px solid #b2b2b2;
}
.article-headline h1{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:20px;
	font-weight:lighter;
	letter-spacing: 0.04em;
	text-align:left;
	color:#2b2b2b;
	padding-top:20px;
	padding-bottom:5px;
}
#contents-area-article{
	float:left;
	width:640px;
	height:auto;
	margin-top:15px;
}
.menu-title{
	float:left;
}
.tags-article{
	text-align:left;
	width:auto;
	height:17px;
	margin:-5px 0 15px 5%;
}
.article-space{
	width:100%;
	border:1px solid #dfdfdf;
	margin-top:10px;
	margin-bottom:20px;
}
.article-thumbnail{
	width:640px;
	height:auto;
}
.article-thumbnail img{
	width:100%;
	height:100%;
}
.article-headline{
	background:#ffffff;
	text-align:center;
	height:auto;
	width:500px;
	padding-left:120px;
	padding-right:20px;
}
.article-contents{
	background:#ffffff;
	text-align:center;
	width:500px;
	height:auto;
	padding-left:120px;
	padding-right:20px;
}
.article-images{
	width:580px;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:-90px;
	margin-right:30px;
}
.article-images img{
	width:100%;
}
.article-source{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	color:#2B2B2B;
	padding-top:20px;
}
.fb-like-box,.fb-like-box span,.fb-like-box iframe{
 width:100% !important;
}
.editors-profile{
	background:#f5f5f5;
	width:90%;
	height:70px;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0px;
}
.editors-profile-pic{
	width:70px;
	float:left;
	clear:both;
	margin-left:10px;
	}
.editors-profile-info{
	float:left;
	text-align:left;
	width:70%;	
	margin-top:10px;
}
.sns-share{
	width:90%;
	padding-bottom:30px;
	margin-left:auto;
	margin-right:auto;
}
.share-button{
	width:45%;
	height:40px;
	margin-left:auto;
	margin-right:auto;
}
#loadMore{
	background:#ffffff;
	width:100%;
	height:25px;
	text-align:center;
}

.twi-btn {
    padding: 10px 0 0;
}
 
.twi-btn a{
    background-color: #00aced;
    border-radius: 5px;
    box-shadow: 0 3px 0 #02658B;
    color: #FFFFFF;
    display: block;
    font-family:arial,helvetica,clean,sans-serif;
    font-size: 90%;
    font-weight: bold;
    width:90%;
    height: 30px;
    margin: 0 auto;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}
 
.twi-btn a:hover {
    box-shadow: 0 1px 0 #02658B;
    margin-bottom: -2px;
    margin-top: 2px;
    text-decoration: none;
}
.fb-btn {
    padding: 10px 0 0;
}
 
.fb-btn a{
    background-color: #305097;
    border-radius: 5px;
    box-shadow: 0 3px 0 #1D315C;
    color: #FFFFFF;
    display: block;
    font-family:arial,helvetica,clean,sans-serif;
    font-size: 90%;
    font-weight: bold;
    width:90%;
    height: 30px;
    margin: 0 auto;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}
.fb-btn a:hover {
    box-shadow: 0 1px 0 #1D315C;
    margin-bottom: -2px;
    margin-top: 2px;
    text-decoration: none;
}
.space{
	width:100%;
	height:40px;
}