@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
	
html,body{
	height: 100%;
	width: 100%;
	background:#f5f5f5;
	background: url(null) fixed;
}
input[type="image"],input[type="text"],input[type="submit"] {
   -webkit-appearance: none;
   border-radius: 0;
}
a{
	text-decoration:none;
}
p{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	color:#2B2B2B;
}

.tag{
	font:bold;
}
h1{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:20px;
	color:#2B2B2B;
	padding-top:40px;
	padding-bottom:40px;
	margin-left:5%;
	margin-right:5%;
}
h2{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	font-weight:lighter;
	color:#2B2B2B;
}
h3{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:16px;
	color:#2B2B2B;
}
.release-date{
	text-align:right;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	color:#2B2B2B;
	margin-right:5%;
	padding-bottom:10px;
}
img {
	brder-style:none;
	max-width: 100%;
}
#cteg-intro{
	width:100%;
	height:auto;
	background:#ffffff;
	text-align:left;
}
.cteg-intro-contents{
	padding:30px 20px 10px 20px;
}
.cteg-intro-contents img{
	margin-top:50px;
}
#cteg-intro p{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	letter-spacing: 0.02em;
	color:#707070;
	margin:20px 0;
}
#header{
	z-index:9999;
	background:#ffffff;
	width:100%;
	height:50px;	
	zoom: 1;
	position: fixed;  
    top:0;  
    left:0;  
    border-bottom:1px solid #f2f2f2;
}
/* clearfix */
#header:before,
#header:after {
	content: "";
	display: table;
}
 
#header:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.header-search{
	width:20%;
	height:50px;
	float:left;
	clear:both;
	text-align:center;
	margin-top:15px;
}
.search-box{
	float:left;
	position:relative;
	top:-20px;
	width:100%;
	height:40px;
	background:#ffffff;
	border-bottom:1px solid #f2f2f2;
}
.search-box-form{
	position: relative;	
	top:8px;
	margin-left:7%;
}
.search-box-input{
	width: 84%;
	height: 20px;
	background:#999;
	border: none;
	padding: 2px;
	color: #FFF;
	-webkit-appearance: none;
}
.search-box-btn{
	position: absolute;
	top: 0px;
	_top: 1px;
	left: 85%;
	-webkit-appearance: none;
}
*:first-child + html #searchBtn2	{
	top: 1px;
}

.header-title{
	float:left;
	width:60%;
	height:50px;
	text-align:center;
}
.header-mushi{
	width:20%;
	height:50px;
	float:right;
	text-align:center;
	margin-top:12px;
}
#sidr-right li img{
	position:relative; 
	top:9px;
	margin-right:10px;
}
.menu-link{
	margin-left:-15px;
}
.tags{
	width:auto;
	height:17px;
	margin-top:10px;
	padding-bottom:5px;
}
.tags-btn {
	font-family:arial,helvetica,clean,sans-serif;
	font-size:10px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #606060;
	width: auto;
	height:8px;
	padding: 3px 3px 2px 3px;
}
.tags-btn img{
	width:15px;
	height:15px;
	position:relative;
	top:4px;
	margin-right:3px;
}
.sidr{
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:260px;
	overflow-x:none;
	overflow-y:auto;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:15px;
	background:#f8f8f8;
	color:#333;
	-webkit-box-shadow:inset 0 0 5px 5px #ebebeb;
	-moz-box-shadow:inset 0 0 5px 5px #ebebeb;
	box-shadow:inset 0 0 5px 5px #ebebeb
	}
	.sidr .sidr-inner{
	padding:0 0 15px
	}
	.sidr .sidr-inner>p{
	margin-left:15px;margin-right:15px
	}
	.sidr.right{
	left:auto;right:-260px
	}.sidr.left{
	left:-260px;right:auto
	}
	.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{
	font-size:11px;
	font-weight:normal;
	padding:0 15px;
	margin:0 0 5px;
	color:#333;
	line-height:24px;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
	background-image:-webkit-linear-gradient(#ffffff,#dfdfdf);
	background-image:-moz-linear-gradient(#ffffff,#dfdfdf);
	background-image:-o-linear-gradient(#ffffff,#dfdfdf);
	background-image:linear-gradient(#ffffff,#dfdfdf);
	-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
	box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}
	.sidr p{
	font-size:13px;
	margin:0 0 12px
	}
	.sidr p a{
	color:rgba(51,51,51,0.9)
	}
	.sidr>p{
	margin-left:15px;margin-right:15px
	}
	.sidr ul{
	display:block;margin:0 0 15px;padding:0;border-top:1px solid #dfdfdf;border-bottom:1px solid #fff
	}
	.sidr ul li{
	display:block;margin:0;text-align:left;padding-left:20px;line-height:48px;border-top:1px solid #fff;border-bottom:1px solid #dfdfdf
	}
	.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{
	border-top:none;line-height:49px
	}
	.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{
	-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb
	}
	.sidr ul li a,.sidr ul li span{
	padding:0 15px;display:block;text-decoration:none;color:#333
	}
	.sidr ul li ul{
	border-bottom:none;margin:0
	}
	.sidr ul li ul li{
	line-height:40px;font-size:13px
	}
	.sidr ul li ul li:last-child{
	border-bottom:none
	}
	.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{
	border-top:none;line-height:41px
	}
	.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{
	-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}
	.sidr ul li ul li a,.sidr ul li ul li span{
	color:rgba(51,51,51,0.8);padding-left:30px
	}
	.sidr form{
	margin:0 15px
	}
	.sidr label{
	font-size:13px
	}
	.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(51,51,51,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#f8f8f8;background:#333}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(51,51,51,0.9)
	}
	
	
	
	
