@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
	
html,body{
	height: 100%;
	width:100%;
	background:#f0f0f0;	
}
html,body ::selection{
		background-color: #f0f0f0;
		color: #000000;
}
html,body ::-moz-selection {
		background-color: #f0f0f0;
		color: #000000;
}
#main{
	width:980px;
	margin-left:auto;
	margin-right:auto;
}
#cnts{
	margin-left:10px;
	margin-right:10px;
}
input[type="image"],input[type="text"],input[type="submit"] {
   -webkit-appearance: none;
   border-radius: 0;
}
a{
	text-decoration:none;
}
p{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	color:#2B2B2B;
	line-height:160%;
}

.tag{
	font:bold;
}
h1{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:20px;
	color:#2B2B2B;
	padding-top:40px;
	padding-bottom:40px;
	margin-left:5%;
	margin-right:5%;
}
h2{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	color:#2B2B2B;
	line-height:160%;
	letter-spacing: 0.02em;
}
h3{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:16px;
	color:#2B2B2B;
}
h4{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	font-weight:lighter;
	color:#2B2B2B;
	line-height:160%;
	letter-spacing: 0.02em;
	margin:5px 0 5px 0;
}
.release-date{
	text-align:right;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	color:#2B2B2B;
	margin-right:45px;
	padding-bottom:10px;
}
.article-release-date{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	color:#2B2B2B;
	margin-left:5%;
	padding:15px 0 5px 0;
}
img {
	brder-style:none;
	max-width: 100%;
}
.article1, .article2, .bx-wrapper, #title-categories, #wide-contents,.big-article,.big-article2,
.article-thumbnail img, .article-space,.right-con1 img,
.right-con3,.right-con4,.right-con6 {
	-webkit-box-shadow: 0 4px 4px -2px #777;
       -moz-box-shadow: 0 4px 4px -2px #777;
            box-shadow: 0 4px 4px -2px #777;
}
.tags-btn{
 	-webkit-box-shadow: 0 1px 2px -1px #777;
       -moz-box-shadow: 0 1px 2px -1px #777;
            box-shadow: 0 1px 2px -1px #777;
 }
/* clearfix */
#header:before,
#header:after {
	content: "";
	display: table;
}
 
#header:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
#header{
	z-index:9999;
	background:#ffffff;
	width:960px;
	height:70px;
	margin-left:-1px;	
	zoom: 1;
	border:1px solid #dfdfdf;
    border-bottom:2px solid #2b2b2b;
}
/* clearfix */
#header:before,
#header:after {
	content: "";
	display: table;
}
 
#header:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.header-search{
	width:200px;
	height:50px;
	float:left;
	clear:both;
	text-align:center;
	margin-top:15px;
}
.search-box{
	float:left;
	position:relative;
	top:-20px;
	width:100%;
	height:40px;
	background:#ffffff;
	border-bottom:1px solid #f2f2f2;
}
.search-box-form{
	position: relative;	
	top:8px;
	margin-left:7%;
}
.search-box-input{
	width: 84%;
	height: 20px;
	background:#999;
	border: none;
	padding: 2px;
	color: #FFF;
	-webkit-appearance: none;
}
.search-box-btn{
	position: absolute;
	top: 0px;
	_top: 1px;
	left: 85%;
	-webkit-appearance: none;
}
*:first-child + html #searchBtn2	{
	top: 1px;
}

.header-title{
	float:left;
	width:60%;
	height:50px;
	text-align:center;
	padding-top:7px;
}
.header-mushi{
	height:50px;
	float:right;
	text-align:center;
	margin-top:12px;
}
.menu-link{
	margin-left:-15px;
}
#wide-contents{
	width:auto;
	height:360px;
	margin-top:16px;
	margin-bottom:8px;
	background:#ffffff;	
}

.category-desc{
	float:left;
	margin-left:40px;
	width:450px;
}
.category-desc img{
	margin-top:38px;
}
.category-desc p{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	letter-spacing: 0.02em;
	color:#2b2b2b;
	margin:20px 0;
}
.category-desc2{
	float:left;
	width:470px;
	height:100%;
	background:#707070;
	text-align:center;
}
#title-categories{
	text-align:center;
	background:#ffffff;
	width:960px;
	height:30px;
	margin-left:-1px;	
	border:1px solid #dfdfdf;
	border-bottom:1px solid #f2f2f2;
}
#title-categories a{
	position:relative;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	color:#707070;
	top:7px;
	margin-right:4px;
	padding:3px;
}
#title-categories a:hover{
	position:relative;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:12px;
	color:#2B2B2B;
	top:7px;
	margin-right:4px;
	background:#e0e0e0;
	padding:3px;
}

#sidr-right li img{
	position:relative; 
	top:9px;
	margin-right:10px;
}
.tags{
	width:auto;
	height:17px;
	margin-top:10px;
	padding-bottom:5px;
}
.tags-btn {
	font-family:arial,helvetica,clean,sans-serif;
	font-size:10px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #606060;
	width: auto;
	height:8px;
	padding: 3px 3px 2px 3px;
}
.tags-btn img{
	width:15px;
	height:15px;
	position:relative;
	top:4px;
	margin-right:3px;
}
#contents-area2{
	float:left;
	width:640px;
	height:auto;
}
.article1{
	float:left;
	background:#ffffff;
	list-style:none;
	width:310px;	
	height:205px;
	margin-right:8px;
	margin-top:8px;
	margin-bottom:8px;
	border:1px solid #dfdfdf;
}
.article2{
	float:left;
	background:#ffffff;
	list-style:none;
	width:310px;
	height:205px;
	margin-left:8px;
	margin-top:8px;
	margin-bottom:8px;
	border:1px solid #dfdfdf;
}
.story{
	display:block;
	background:#ffffff;
	width:100%;
	height:190px;
	margin-bottom:5px;
}
.article-image{
	position:relative;
	width:auto;
	height:120px;
	background-size:cover;
}
.article-image img{
	width:100%;
	max-height:120px;
}
.article-image img.ribbon{
	position:absolute;
	width:123px;
	height:23px;	
}
.title{
	width:auto;
	height:50px;
	margin-left:15px;
	margin-right:15px;
}
.story .tags{
	margin-left:15px;
	margin-right:15px;
}
#contents-area3{
	list-style:none;
	position:relative;
	float:right;
	width:320px;
	height:auto;
}
.right-con1{
	width:300px;
	margin-top:15px;
	margin-left:18px;
	height:474px;
	border:1px solid #dfdfdf;
}
/**
.right-con2{
	width:310px;
	height:205px;
	margin-left:10px;
	margin-top:31px;
}
*/

.right-con3{
	width:300px;
	margin-left:18px;
	height:205px;
	margin-top:14px;
	background:#ffffff;
	border:1px solid #dfdfdf;
}
.right-con4{
	width:300px;
	margin-left:18px;
	height:205px;
	margin-top:16px;
	background:#ffffff;
	border:1px solid #dfdfdf;
}
.right-con5{
	width:300px;
	margin-left:18px;
	height:205px;
	margin-top:16px;
	border:1px solid #dfdfdf;
}
.right-con6{
	width:300px;
	margin-left:18px;
	height:428px;
	margin-top:16px;
	background:#fff;
	border:1px solid #dfdfdf;
}
.mini-articles-title{
	height:30px;
}
.mini-articles{
	width:100%;
	height:88%;
	margin-top:6%;
	margin-bottom:6%;
}
.mini-articles-left{
	float:left;
	clear:both;
	width:50px;
	height:50px;
	margin-left:10px;
	margin-right:10px;
}
.mini-articles-right{
	float:left;
	width:175px;
	height:auto;
	max-height:50px;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	color:#2B2B2B;
}

#footer{
	float:left;
	width:100%;
	height:auto;
	background:#606060;
	margin-top:8px;
}
#footer-main{
	width:980px;
	height:100%;
	padding:0 10px 0 10px;
	margin-left:auto;
	margin-right:auto;
}
#footer1{
	float:left;
	width:960px;
}
#footer3{
	float:left;
	width:925px;
	margin-left:35px;
}
.footer3-services{
	float:left;
	width:232px;
	height:auto;
	margin-top:40px;
	border-right:1px solid #808080;
}
.footer3-services img{
	margin-left:10px;
}
#footer2{
	float:left;
	width:320px;
	height:auto;
	margin-top:40px;
	margin-bottom:40px;
	border-right:1px solid #808080;
}
#footer4{
	float:left;
	width:320px;
	height:auto;
	margin-top:40px;
	margin-bottom:40px;
	border-right:1px solid #808080;
}
.footer-logo{
	padding:20px 0 20px 20px;
}
.footer-menu{
	padding-left:37px;
}
.footer-menu a{
	display:block;
	font-family:arial,helvetica,clean,sans-serif;
	color:#ffffff;
	font-size:13px;
	letter-spacing: 0.04em;
}
.footer-categories{
	float:left;
	width:100%;
	height:auto;
	padding-top:10px;
	padding-bottom:15px;
	border-bottom:1px solid #808080;
}
.footer-categories2{
	float:left;
	width:100%;
	height:auto;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #808080;
}
.categories-dt{
	float:left;
	clear:both;
	font-family:arial,helvetica,clean,sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	width:200px;
}
.categories-dd{
	float:left;
	width:700px;
}
.categories-dd a{
	text-align:left;
	font-family:arial,helvetica,clean,sans-serif;
	font-weight:lighter;
	font-size:12px;
	color:#ffffff;
	letter-spacing: 0.04em;
	vertical-align:middle;
	padding:-10px 0 0 0;
	margin:0 10px 0 10px;
	
}
.ft-btn {
    padding:0 0 0 0;
}
.ft-btn a{
    background-color: #707070;
    border-radius: 5px;
    color: #b2b2b2;
    display: block;
    font-family:arial,helvetica,clean,sans-serif;
    font-size: 90%;
    font-weight: bold;
    width:75%;
    height: 25px;
    margin: 2px auto;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
 
.ft-btn a:hover {
	background:#7f7f7f;
    color:#ffffff;
    text-decoration: none;
}
.sidr{
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:260px;
	overflow-x:none;
	overflow-y:auto;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:15px;
	background:#f8f8f8;
	color:#333;
	-webkit-box-shadow:inset 0 0 5px 5px #ebebeb;
	-moz-box-shadow:inset 0 0 5px 5px #ebebeb;
	box-shadow:inset 0 0 5px 5px #ebebeb
	}
	.sidr .sidr-inner{
	padding:0 0 15px
	}
	.sidr .sidr-inner>p{
	margin-left:15px;margin-right:15px
	}
	.sidr.right{
	left:auto;right:-260px
	}.sidr.left{
	left:-260px;right:auto
	}
	.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{
	font-size:11px;
	font-weight:normal;
	padding:0 15px;
	margin:0 0 5px;
	color:#333;
	line-height:24px;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
	background-image:-webkit-linear-gradient(#ffffff,#dfdfdf);
	background-image:-moz-linear-gradient(#ffffff,#dfdfdf);
	background-image:-o-linear-gradient(#ffffff,#dfdfdf);
	background-image:linear-gradient(#ffffff,#dfdfdf);
	-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
	box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}
	.sidr p{
	font-size:13px;
	margin:0 0 12px
	}
	.sidr p a{
	color:rgba(51,51,51,0.9)
	}
	.sidr>p{
	margin-left:15px;margin-right:15px
	}
	.sidr ul{
	display:block;margin:0 0 15px;padding:0;border-top:1px solid #dfdfdf;border-bottom:1px solid #fff
	}
	.sidr ul li{
	display:block;margin:0;text-align:left;padding-left:20px;line-height:48px;border-top:1px solid #fff;border-bottom:1px solid #dfdfdf
	}
	.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{
	border-top:none;line-height:49px
	}
	.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{
	-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb
	}
	.sidr ul li a,.sidr ul li span{
	padding:0 15px;display:block;text-decoration:none;color:#333
	}
	.sidr ul li ul{
	border-bottom:none;margin:0
	}
	.sidr ul li ul li{
	line-height:40px;font-size:13px
	}
	.sidr ul li ul li:last-child{
	border-bottom:none
	}
	.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{
	border-top:none;line-height:41px
	}
	.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{
	-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}
	.sidr ul li ul li a,.sidr ul li ul li span{
	color:rgba(51,51,51,0.8);padding-left:30px
	}
	.sidr form{
	margin:0 15px
	}
	.sidr label{
	font-size:13px
	}
	.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(51,51,51,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#f8f8f8;background:#333}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(51,51,51,0.9)
	}
	
	
	
	
